.input {
    border-radius: var(--main-border-radius);

}

.button {
    border: none;
    border-radius: var(--main-border-radius);
    margin-top: 1rem;
    padding: 0.65rem;
    background-image: var(--gradient);
    color: var(--main-text-color);
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: initial;
    width: 100%;
    height: 38px;
}

.button:hover {
    color: var(--main-text-color);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.list {
    border-radius: 10px;
    padding-left: 0px;
    background: #fff;
    list-style: none;
}



.city {
    margin-top: 0;
    color: #222831;
    font-weight: 300;
    font-size: 20px;
    padding-left: 10px;
}

.city:hover {
    background: var(--gradient);
    cursor: pointer;
}